# Reboot - Python Basics

This is a set of small independent assignments to recap the concepts of the day.

## 1. Variables

Create a `country` variable and assign your favorite country to it. Print it

In [2]:
county = 'Peru'
print(county)

Peru

Create an `animal` variable and assign your favorite animal to it. Print it

In [3]:
animal = 'Dolphin'
print(animal)

Dolphin

Create an `animal_count` variable with any positive integer in it. Print it

In [4]:
animal_count = 5
print(animal_count)

5

Print out a string using all your variables that follows this format:
`"I just ordered 200 monkeys from Denmark"`

**Hint**: use interpolation

In [6]:
print (f'I just ordered {animal_count} {animal}s from {county}')

I just ordered 5 Dolphins from Peru

---
## 2. Data Types
Now it's time to talk about data types. The first question to ask yourself before starting any coding task, is to determine which data types you're working with.

Run the following cells and pay attention to the variables initialized:

In [7]:
pi = 3.14
food = 'pizza'
colors = ['red', 'blue', 'yellow']
print("Variables are now defined!")

Variables are now defined!

Assign each variable's correct data types (`str`, `float`, `list`) to new variables called `pi_type`, `food_type`, and `colors_type`. Then run the lower cell. 

The cell should display `True` when you define the right data types.

In [8]:
pi_type = 'float'
food_type = 'str'
colors_type = 'list'

In [13]:
str(type(pi)) == pi_type \
and str(type(food)) == food_type \
and str(type(colors)) == colors_type

False

Let's try to work with other data types. This time there's no hint.

In [ ]:
user_profile = {'email': 'buffy@gmail.com', 'age': 19, 'password': 'hunter2', 'profession': 'Vampire Slayer' }
shapes = ('square', 'round', 'hexagonic')
age = 25
age_valid = (age < 18)
print("Variables are now defined!")

Let's repeat the exercise from before with the new variables. Start by defining `user_profile_type`, `shapes_type`, and `age_valid_type`. Once again, the cell should display `True` when you're done.

In [ ]:
user_profile_type = ?
shapes_type = ?
age_valid_type = ?

In [ ]:
type(shapes) == shapes_type \
and type(user_profile) == user_profile_type \
and type(age_valid) == age_valid_type

---

## 3. Functions

Create a fuction `credit_card_industry` which takes one parameter (a `str` storing a credit card number like `"4242 4242 4242 4242"` for instance) and **return** one of the following industries:

- Airline
- Visa
- Mastercard
- Other

This [article](https://www.thebalance.com/what-do-the-numbers-on-your-credit-card-mean-4588401) will prove handy if you don't know how to determine this from the number.

In [ ]:
# YOUR CODE HERE

Call this function and **print** the result for the following card numbers:

- `"4539 0132 4843 4768"`
- `"5131 9376 6800 4058"`
- `"3762 8789 1971 1060"`
- `"1002 0494 8191 1719"`

In [ ]:
credit_card_industry("4539 0132 4843 4768")

In [ ]:
credit_card_industry("5131 9376 6800 4058")

---
## 4. Lists

Create a `genres` variable with a list of 3 different movie genres as strings. Print the list.

In [21]:
genres = ['Drama', 'Comedy', 'Action']
print(genres)

['Drama', 'Comedy', 'Action']

Add another genre to the list. Print the whole list.

In [22]:
genres.append('Thriller')
print(genres)

['Drama', 'Comedy', 'Action', 'Thriller']

Change the name of the second genre on the list. Print the whole list

In [26]:
genres[2] = 'Action'
print(genres)

['Drama', 'Comedy', 'Action', 'Thriller']

Print each genre (sorted) to the terminal following this format (use a for loop with enumerate):

```
1 - Action
2 - Comedy
3 - Drama
4 - Thriller
```

In [28]:
genres.sort()
print(genres)

['Action', 'Comedy', 'Drama', 'Thriller']

In [29]:
for index, genre in enumerate(genres):
    print(f'{index} - {genre}')

0 - Action
1 - Comedy
2 - Drama
3 - Thriller

---
## 5. Dictionaries

Create a `movie` variable with a dictionary containing information about any movie. It should contain the keys `year` and `title` with appropriate values. You can get some inspiration on [IMDB](https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating)

In [31]:
movie = {
    'year': 1984,
    'title': 'Rambo'
}

Add a `director` key to the dictonary with the appropriate value. Print the `movie` dictionary

In [33]:
movie['director'] = 'Spielberg'
print(movie)

{'year': 1984, 'title': 'Rambo', 'director': 'Spielberg'}

Create a `movies` variable and initialize it with an empty list.

In [34]:
movies = []

Add your `movie` to the list along with two more movies, with the same keys as the first one. Then print the entire list

In [37]:
movies = []
movies.append(movie)
print(movies)

[{'year': 1984, 'title': 'Rambo', 'director': 'Spielberg'}]

Finally, print the `movies` list line by line in the terminal in the following format (using a `for` loop):
```
Terminator by James Cameron was released in 1984
Godfather by Francis Ford Coppolla was released in 1972
The Matrix by The Wachowski Brothers was released in 1999
```

In [39]:
movies.append({'year': 1972, 'title': 'Godfather', 'director': 'Coppolla'})

In [40]:
movies.append({'year': 1999, 'title': 'Matrix', 'director': 'Wachowski Bros'})

In [41]:
for movie in movies:
    print(f"{movie['title']} by {movie['director']} was released in {movie['year']}")

Rambo by Spielberg was released in 1984
Godfather by Coppolla was released in 1972
Matrix by Wachowski Bros was released in 1999

---
## 6. Dictionaries + Lists

Often when we're dealing with data, we have to find our way around a big dictionary. This can be a bit intimidating at first. But have no fear, once you get the hang of it, it's quite comfortable to navigate. When we're dealing with bigger dictionaries, it's important to take the time and read through it, knowing what kind of data types are stored and what structure it has. 

It's often a small subset of the information we're interested in looking at, so we need to know how to precisely access it. Start by running the cell below:

In [43]:
movie = {
    'title': { 'en': 'The Dark Knight', 'fr': 'Le Chevalier Noir' },
    'year': 2008,
    'director': 'Christopher Nolan',
    'rating': 'PG-13',
    'plot': {
        'en': 'The Batman is out for blood',
        'fr': 'Batman est de retour, plus vénère que jamais'
    },
    'box office USD': {'USA': 535_234_033, 'rest_of_world': 469_700_000 },
    'actors': {
        'lead': ['Christian Bale', 'Heath Ledger'],
        'support': ['Aaron Eckhardt', 'Morgan Freeman', 'Gary Oldman', 'Maggie Gyllenhaal' ]
    }
}
print("movie is defined!")

movie is defined!

Try to guess the answer to the questions without writing any code. Then try the code out for yourself to test your theory.

What does `movie['title']['fr']` return?

In [44]:
movie['title']['fr']

'Le Chevalier Noir'

What does `movie['title']['es']` return?

In [45]:
movie['title']['es']

KeyError: 'es'

What does `movie['actors']['support'][2]` return?

In [46]:
movie['actors']['support'][2]

'Gary Oldman'

### Optional 

Find a way to extract one list containing all the actors from the movie.

In [56]:
act = [x for x in movie['actors']['lead']]
act.extend([x for x in movie['actors']['support']])

print (act)

['Christian Bale', 'Heath Ledger', 'Aaron Eckhardt', 'Morgan Freeman', 'Gary Oldman', 'Maggie Gyllenhaal']

Try to calculate the total box office of the movie from `movie`

In [59]:
box = 0
for x in movie['box office USD'].values():
    box+=x
print (box)

1004934033

Would the code above still work with the following Box Office. How would you compute the total Box Office using a `for` loop?

In [3]:
box_office = {"US": 200_000_000, "EU": 85_000_000, "China": 110_000_000}
print(box_office)

{'US': 200000000, 'EU': 85000000, 'China': 110000000}

In [4]:
box = 0
for amount in box_office.values():
    box+=amount
print (box)

395000000

In [5]:
sum([amount for country, amount in box_office.items() if country !='US'])

195000000